/* HERO SECTION */
.hero {
  min-height: 90vh;

  background-image: url("../../assets/images/Hero-Image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CENTER CONTENT */
.hero .container {
  min-height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* HERO CONTENT */
.hero-content {
  text-align: center;
}

/* HEADING */
.hero-sub {
  font-family: var(--font-heading);
  color: #bba085;
  font-size: 64px;
}
.hero-head {
  font-family: var(--font-body);
  color: #ffffff;
  font-size: 80px;
  font-weight: 700;
}

/* award section */
.award {
  height: 550px;
  background-color: #f4f4f4;
}

.award-content {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.award-content h3 {
  font-family: var(--font-subheading);
  color: #bba085;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.award-content h2 {
  font-family: var(--font-body);
  color: #4f4f4f;
  font-size: 64px;
  font-weight: 400;
  line-height: 90px;
  text-align: center;
}

.award-content img {
  width: 65px;
  height: 97px;
}

/* about me section */
.about {
  min-height: 858px;
}

.about-wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-image,
.about-content {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: 858px;
  object-fit: cover;
  display: block;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin-right: 40px;
}
.about-content .quote {
  width: 40px;
  height: 40px;
}

.about-content h2 {
  font-family: var(--font-body);
  color: #4a4a4a;
  font-size: 48px;
  font-weight: 400;
}
.about-content p {
  font-family: var(--font-body);
  color: #2d2d2d;
  font-size: 28px;
  font-weight: 400;
}

/* services section */

.services {
  padding: 80px 0;
  text-align: center;
}

.service-content h2 {
  font-size: 60px;
  font-weight: 400;
  color: #5b5b5b;
}

/* services: cards */
.card {
  background-color: #f8f8f8;
  padding: 60px;
  width: 370px;
}

.service-cards {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 66px;
}

.card img {
  width: 69px;
  height: 150px;
  padding-bottom: 10px;
}
.card h5 {
  font-family: var(--font-heading);
  font-size: 50px;
  color: #585858;
  font-weight: 200;
}
.card p {
  font-family: var(--font-body);
  font-size: 12px;
}
.card .price {
  font-family: var(--font-body);
  font-size: 40px;
  padding-bottom: 20px;
}

/* CTA SECTION*/

.cta-section {
  display: flex;
  min-height: 700px;
}

/* Left Image */

.cta-image {
  flex: 7;
}

.cta-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Right Side */

.cta-content {
  flex: 3;
  background: #f8f8f8;

  position: relative;
  display: flex;
  align-items: center;
}

/* Floating Card */

.cta-card {
  position: absolute;
  left: -160px;
  width: 400px;
  background: #fff;
  padding: 60px;
  border: 1px solid #bba085;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.cta-icon {
  width: 55px;
  margin-bottom: 25px;
}

.cta-card h3 {
  font-family: var(--font-heading);
  font-size: 42px;
  color: #7d6954;
  font-weight: 400;

  margin-bottom: 25px;
}

.cta-card p {
  font-family: var(--font-body);

  font-size: 18px;
  line-height: 1.8;

  color: #555;
}

/* featured Portfolio */
.portfolio {
  margin: 80px 40px 80px 0;
}
.portfolio-card {
  background-color: #f8f8f8;
}
.portfolio-content {
  display: flex;
}

.portfolio-card {
  flex: 3;
  padding: 20px 40px;
}
.portfolio-image {
  flex: 7;
}

@media (max-width: 768px) {
  .hero {
    min-height: 70vh;
  }

  .hero .container {
    min-height: 70vh;
  }

  .hero-sub {
    font-size: 2.5rem;
  }

  .hero-head {
    font-size: 1rem;
  }

  /* award section */
  .award {
    height: 400px;
  }
  .award-content {
    height: 400px;
    width: 100%;
  }

  .award-content h3 {
    font-size: 20px;
  }
  .award-content h2 {
    font-size: 32px;
    line-height: 40px;
  }
  /* about section */
  .about-wrapper {
    flex-direction: column;
  }
  .about-content {
    margin-right: 0;
    padding: 0 20px 40px 20px;
  }
  .about-content p {
    font-size: 16px;
  }
  .about-content h2 {
    font-size: 28px;
  }
  .about-image img {
    height: 500px;
  }
  /* service content */
  .service-content h2 {
    font-size: 32px;
  }
  .service-cards {
    flex-direction: column;
  }
  /* hero cta */
  .cta-section {
    flex-direction: column;
  }

  .cta-image {
    height: 450px;
  }

  .cta-content {
    justify-content: center;

    padding: 80px 20px;

    background: #f8f8f8;
  }

  .cta-card {
    position: static;

    width: 100%;

    max-width: 500px;

    padding: 40px;
  }
}
